/* Custom gradient for Toastr success notification */
/*.toast-success {
    background: linear-gradient(to right, #ef4444, #3b82f6) !important;*/ /* Blue to red gradient */
    /*color: white;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}*/

/* Custom gradient for Toastr error notification */
/*.toast-error {
    background: linear-gradient(to right, #ef4444, #3b82f6);*/ /* Red to blue gradient */
    /*color: white;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}*/


