
/*.toast-success {
    background: linear-gradient(to right, #ef4444, #3b82f6) !important;  
    color: red;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

 Custom gradient for Toastr error notification 
.toast-error {
    background: linear-gradient(to right, #ef4444, #3b82f6);  
    color: white;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
*/

/* Success Toast */
.toast-success {
    background-color: #3b82f6 !important; /* Change to your desired color */
    color: #ffffff !important; /* Change text color if needed */
}






